* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  background-color: #e0e0e0;
}

p {
  color: rgb(0, 31, 63);
}

h1 {
  color: rgb(0, 31, 63);
  padding-top: 20px;
  text-align: center;
}

.title p {
  padding-top: 10px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.key {
  margin: 10px;
}

table {
  border-spacing: 10px;
  margin-top: 30px;
}

tr:first-child td {
  background-color: rgba(255, 192, 203, 0.5);
  transition: all 0.5s ease-out;
  overflow: hidden;
}
tr:first-child td:hover {
  background-color: rgba(255, 20, 145, 0.3);
  box-shadow: 4px 4px 8px #bebebe, -4px -4px 8px #ffffff;
}
tr:first-child td:hover .bi {
  color: #000;
}
tr:first-child td:nth-child(2), tr:first-child td:nth-child(3) {
  padding: 0 5px;
}
tr:first-child td:nth-child(4), tr:first-child td:nth-child(5) {
  font-size: small;
}
tr:first-child td:nth-child(6) {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  position: relative;
}
tr:first-child td:nth-child(6) input {
  display: none;
}
tr:first-child td:nth-child(6) label {
  display: inline-block;
  height: 28px;
  width: 56px;
  border-radius: 30px;
  box-shadow: 2px 2px 4px #bebebe, -2px -2px 4px #ffffff;
  transition: all 0.5s linear;
}
tr:first-child td:nth-child(6) label::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  left: -13px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #bebebe;
  transition: all 0.3s linear;
}
tr:nth-child(2) td {
  background-color: rgba(0, 200, 255, 0.15);
}
tr:nth-child(2) td:first-child {
  background-color: rgba(255, 192, 203, 0.5);
  transition: all 0.5s ease-out;
}
tr:nth-child(2) td:first-child:hover {
  background: linear-gradient(145deg, rgba(255, 192, 203, 0.5), #f0f0f0);
  box-shadow: 4px 4px 8px #bebebe, -4px -4px 8px #ffffff;
}
tr:nth-child(2) td:first-child:hover .bi {
  color: #000;
}

#auto:checked + label {
  background-color: rgba(255, 192, 203, 0.5);
}
#auto:checked + label::before {
  content: "";
  position: relative;
  left: 13px;
}

td {
  color: rgb(0, 31, 63);
  height: 40px;
  width: 40px;
  font-size: large;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 4px 4px 8px #bebebe, -4px -4px 8px #ffffff;
}
td:first-child {
  background-color: rgba(0, 200, 255, 0.15);
}

input {
  width: 100%;
  height: 100%;
  outline: none;
  text-align: center;
  font-size: large;
  border: none;
  background-color: transparent;
}

.panel {
  width: 520px;
  height: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
.panel input {
  margin: 0 10px;
  text-align: left;
  text-indent: 3px;
  overflow: scroll;
  border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
}
.panel span {
  margin: 0 10px;
}

.box {
  display: flex;
  padding: 5px;
  margin: 5px;
}

#argulen {
  color: rgba(0, 0, 0, 0.3);
  margin-left: -8px;
}

.bi {
  transition: all 0.2s linear;
}
.bi:hover {
  color: rgba(0, 0, 0, 0.5);
}

.bi-arrow-clockwise {
  margin-right: 10px;
  transform: rotate(45deg) translateY(-2px);
  font-size: 18px;
}

.arrow {
  margin-right: 10px;
  transform: translateY(1px);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}/*# sourceMappingURL=main.css.map */